<footer class="app-footer">
    <div class="footer-links">
        <a href="/JavaScriptProjectHub/" class="footer-link"><i class="fas fa-home"></i> Home</a>
        <a href="#" class="footer-link"><i class="fas fa-info-circle"></i> About</a>
        <a href="https://github.com/GuruBuilds" target="_blank" class="footer-link">
            <i class="fab fa-github"></i> GitHub
        </a>
    </div>
    <div class="copyright">
        &copy; ${new Date().getFullYear()} JavaScript Projects Hub
    </div>
</footer>